.chip {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    gap: 4px;
    justify-content: center;

    border-radius: 6px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
}
.game-status {
    width: 76px;
    height: 24px;
}

.player-status {
    width: 112px;
    height: 24px;
}
