#nav-panel {
    display: flex;
    /*width: 707px;*/
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    text-decoration: none;
}

#nav-panel a:hover {
    background: #F7F7F7;
    border-radius: 200px;
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA !important;
    border-radius: 200px;
    color: white !important;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}