#game-container {
    box-sizing: border-box;
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: normal;
}

#game-board {
    box-sizing: border-box;
    width: 663px;
    height: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}